body 
{
  background-color: #000000;
  overflow: scroll;
}

.container_total
{
  position: relative;
  width: 100%;
}

.container_total .img img
{
  position: absolute;
  margin-left: -100px;
  width: 960px;
  height: 699px;
  
}

.container_total .paragraph
{
  position: absolute;
  z-index:1;
  width: 500px;
  margin: 2% 57% auto;
  /* margin: 1% 50% auto; */
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  text-align: justify;
  font-size: 12px;

}

.button_site
{
  text-decoration: none;
  width: 130px;
  height: 30px;
  text-align: center;
  margin-left: 180px;
  text-decoration: none;
  border-radius: 30px;
  border: solid 3px #ffffff;
  margin-top: 30px;
}

.button_site:hover
{
  background-color: #ffffff;
  color: #000000;
}

.container_total .button_site a
{
  display: block;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-weight: 800;
  padding-top: 8px;
}

.container_total .button_site a:hover
{
  color: #000000;
}

.container_total .title 
{
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding-left: 30px;
  text-align: right;
  padding-bottom: 80px;
}

.container_total .paragraph .social_network
{
  text-align: center;
}

.container_total .paragraph .social_network img
{

  display: inline-block;
  margin: auto;
  width: 25px;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.container_total .paragraph .team
{
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  width: 350px;
  margin: auto;

}

.container_total .paragraph .team img
{
  margin-top: -20px;
  filter: brightness(0) invert(1);
  width: 80px;
  height: 80px;
  cursor: pointer;
}