section.brief
  background-size: cover
  position: relative

  .laptop-photo
    top: 0
    left: 0
    height: 100vh
    width: 100vh
    background: url("../images/laptop-on-table.jpg")
    background-size: cover


  .info
    position: absolute
    width: 50vw
    display: flex
    background: #000
    top: 0
    right: 0
    height: 100vh
    &:before
      content: ''
      position: absolute
      height: 100vh
      width: 50px

    p
      height: 100px
      color: #fff
      font-size: 16px
      line-height: 25px
      margin-bottom: 20px


