section.header
  border: 0 !important

  p
    position: absolute
    color: #ffffff
    font-size: 16px
    text-align: center
    width: 100%
    top: auto !important
    bottom: 40px !important

  img.eclipse
    top: -13% !important
    left: -9% !important
    margin: 0 auto
    filter: brightness(90%)

  img.logo
    width: 300px
    height: auto
    top: calc(50% - 69px) !important
    left: calc(50% - 140px) !important
    filter: brightness(0) invert(1)

  .button
    top: calc(85% - 20px) !important
    left: calc(50% - 100px) !important
  
