@import '_header'
@import '_about'

html.home, body.home
  overflow: hidden

section.slide
  width: 100vw
  height: 100vh

.button
  width: 200px
  line-height: 40px
  text-align: center
  text-transform: lowercase
  border-radius: 20px
  border: 1px solid white
  font-family: 'quicksand'
  font-weight: 500
  color: white
  background: #000000
  cursor: pointer
  transition: 0.1s all ease-in-out
  &:hover
    background: white
    color: #000