@import '_header'
@import '_equipment'
@import '_about'

html.home, body.home
  overflow: hidden
  font-family: 'quicksand', 'roboto', Arial, Helvetica, sans-serif

.layer
  will-change: transform

section.slide
  width: 100vw
  height: 100vh
  background: #000000
  position: absolute
  top: 0
  left: 0

.button
  width: 200px
  line-height: 40px
  text-align: center
  text-transform: lowercase
  border-radius: 20px
  border: 1px solid white
  font-family: 'quicksand'
  font-weight: 500
  color: white
  background: #000000
  cursor: pointer
  // transition: 0.1s all ease-in-out
  // &:hover
  //   background: white
  //   color: #000